
IdleRPG/Library/ShaderCache.db
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe0.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe1.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe2.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe3.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe4.log
IdleRPG/Library/ShaderCache.db
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe0.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe1.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe2.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe3.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe4.log
