
IdleRPG/Library/ShaderCache.db
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe0.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe1.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe2.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe3.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe4.log
IdleRPG/Library/ShaderCache.db
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe0.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe1.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe2.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe3.log
IdleRPG/Library/shadercompiler-UnityShaderCompiler.exe4.log
IdleRPG/Library/assetDatabase3
IdleRPG/Library/CurrentLayout.dwlt
IdleRPG/Library/EditorUserBuildSettings.asset
IdleRPG/Library/expandedItems
IdleRPG/Library/InspectorExpandedItems.asset
IdleRPG/Library/LastSceneManagerSetup.txt
IdleRPG/Library/SceneVisibilityState.asset
IdleRPG/Library/ScriptAssemblies/Assembly-CSharp.dll
IdleRPG/Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
IdleRPG/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
IdleRPG/Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
IdleRPG/Library/ScriptAssemblies/Unity.TextMeshPro.dll
IdleRPG/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
IdleRPG/Library/ScriptAssemblies/Unity.Timeline.dll
IdleRPG/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
IdleRPG/Library/StateCache/SceneView/2baa98-mainStage.json
